*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #1e1e1e;
    font-family: Rubik,sans-serif;
    background-image: url('https://uploads-ssl.webflow.com/607f32d6309ca31d63c6724d/60a4b99433a44149c62ab729_60a4a41b712eb829edcbe369_607e059cb40f157197e3f71b_oval-p-800.png');
    background-position: center;
    background-repeat: repeat-y;
    background-size: auto;
}
nav{
    display: flex;
    padding: 30px 50px;
    justify-content: space-between;
    position: fixed;
}
.simplified-image{
    width: 151px;
    height: 28px;
}
.nav__selector{
    padding: 20px 0;
    color: #ffffff;
    font-size: 16px;
    background-color: #1e1e1e;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 1.1px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.nav__selector:hover{
    color: #ffad00;
}
.nav__links{
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 1.1px;
    padding: 20px;
    text-decoration: none;
    font-weight: 600;
}
.nav__links:hover{
    color: #ffad00;
}
.nav__button1{
    margin-right: 16px;
    margin-left: 16px;
    padding: 14px 32px;
    font-weight: 700;
    border: 1px solid #ffad00;
    border-radius: 8px;
    background-color: #ffad00;
    color: #1e1e1e;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.1px;
    cursor: pointer;
}
.nav__button1:hover{
    background-color: #ffba26;
}
.nav__button2{
    margin-right: 8px;
    margin-left: 8px;
    padding: 14px 32px;
    color: #ffad00;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1.1px;
    cursor: pointer;
    background-color: #1e1e1e;
    border: 2px solid #ffad00;
    border-radius: 8px;
}
.nav__button2:hover{
    background-color: #ffad00;
    color: black;
}
.nav__div{
    margin-top: -15px;
    margin-left: 236px;
}
header{
    padding: 223px 120px 60px 120px;
    margin: 0 204px
}
.header__heading{
    color: #fff;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
    width: 81%;
    margin-left: 112px;
}
.header__paragraph1{
    line-height: 32px;
    font-weight: 400;
    font-size: 20px;
    color: #c0c0c1;
    margin-bottom: 16px;
    text-align: center;
    width: 93%;
    margin-left: 58px;
    margin-top: 8px;
}
.header__button{
    padding: 14px 32px;
    font-weight: 700;
    border: 1px solid #ffad00;
    border-radius: 8px;
    background-color: #ffad00;
    color: #1e1e1e;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.1px;
    cursor: pointer;
    margin-left: 243px;
    margin-top: 29px;
}
.header__button:hover{
    background-color: #ffba26;
}
.header__paragraph2{
    font-size: 14px;
     color: #c0c0c1;
     margin-bottom: 16px;
     margin-left: 288px;
     margin-top: 9px;
}
.guzzic-left-image{
    width: 560px;
    height: 350px;
}
.guzzic-left-section{
  padding: 56px 0;
  margin: 0 204px;
  display: flex;
  height: 350px;
}
.guzzic-left-heading{
    font-size: 30px;
    color: #ffffff;
    margin: 24px 0;
    width: 105%;
}
.guzzic-left-paragraph{
    font-size: 16px;
    margin-bottom: 16px;
    color: #c0c0c1;
    line-height: 28px;
    font-weight: 400;
    width: 317px;
}
.like-to-do-image{
    width: 598px;
    height: 363px;
}
.like-to-do-div{
    padding: 67px 32px;
}
.guzzic-right-image{
    width: 509px;
    height: 314px;
}
.guzzic-left-div{
    padding: 0 32px;
}
.guzzic-right-div{
    padding: 20px 32px;
}
.guzzic-right-heading{
    font-size: 30px;
    color: #ffffff;
    margin: 24px 0;
    width: 81%;
}
.audience-heading{
    margin-top: 24px;
    margin-bottom: 33px;
    font-family: Rubik,sans-serif;
    color: #fff;
    font-size: 32px;
    line-height: 1em;
    font-weight: 700;
    margin-left: 224px;
}
.card{
    height: 585px;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: hsla(0,0%,100%,.08);
    margin-right: 26px;
    width: 25%;
}
.audience-section-div{
    display: flex;
}
.websites-images{
    width: 95px;
    height: 21px;
}
.colorful-borders-images{
    width: 240px;
    height: 180px;
    margin-top: 48px;
}
.apps-images{
    width: 224px;
    height: 180px;
    margin-top: 48px;
    padding: 0 8px;
}
.audience-section{
    padding: 56px 0;
    margin: 0 205px;
}
.card-number{
    width: 32px;
    height: 32px;
    margin-top: 16px;
    border-radius: 50px;
    background-color: #d8d8d8;
    text-align: center;
}
.card-heading{
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Rubik,sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
    width: 105%;
}
.card-paragraph{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 16px;
    color: #c0c0c1;
    font-weight: 400;
    width: 98%;
}
.websites-images-div1{
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.websites-images-div2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.websites-images-div3{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}
.card-last-heading{
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Rubik,sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
    width: 103%;
}
.marketing{
    padding: 8px 120px 0 120px;
    margin: 81px 205px 0 205px;
}
.marketing-heading{
    color: #fff;
    font-size: 32px;
    line-height: 1em;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 98px;
}
.marketing-paragraph{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #c0c0c1;
    text-align: center;
    margin-bottom: 16px;
}
.editor-app-image{
    padding: 64px;
    margin: 0 204px;
    width: 812px;
    height: 507px;
}
footer{
    padding: 80px 204px;
    background-color: #232323;
    display: flex;
    justify-content: space-between;
}
.footer__appsimages{
    width: 36px;
    height: 36px;
    padding-right: 10px;
}
.footer__appsimages-div{
    padding: 20px 10px 0 1px;
}
.footer__paragraph{
    margin-right: 10px;
    margin-left: 10px;
    opacity: .6;
    font-family: Rubik,sans-serif;
    color: #d8d8d8;
    font-size: 14px;
    width: 51%;
    line-height: 20px;
    text-align: right;
}
.footer__links{
    font-size: 14px;
    color: #d8d8d8;
    text-decoration: none;
    margin-left: 15px;
    opacity: .6;
}
.footer__links-div{
    margin-top: 24px;
}
.footer__links:hover{
    text-decoration: underline;
}
.footer__lastlinks{
    font-size: 14px;
    color: #d8d8d8;
    text-decoration: none;
    margin-left: 238px;
    opacity: .6;
}
.footer__lastlinks:hover{
    text-decoration: underline;
}

